extends ../widget

block title
    span Tools

block content
    .block.flex
        img#form-add-draw.button.img(src="source/assets/draw.png" alt="Tool for draw" draggable="false")
        img#form-add-image.button.img(src="source/assets/image.png" alt="Tool for import image" draggable="false")
        img#form-add-audio.button.img(src="source/assets/audio.png" alt="Tool for import audio" draggable="false")
        img#form-add-record.button.img(src="source/assets/record.png" alt="Tool for record audio" draggable="false")
    .block.flex
        img#form-add-draw.button.img(src="source/assets/draw.png" alt="Tool for draw" draggable="false")
        img#form-add-image.button.img(src="source/assets/image.png" alt="Tool for import image" draggable="false")
        img#form-add-audio.button.img(src="source/assets/audio.png" alt="Tool for import audio" draggable="false")
        img#form-add-record.button.img(src="source/assets/record.png" alt="Tool for record audio" draggable="false")