#modal.modal.hide
    .desk
        .head
            span#desk-title.title Title
        .body
            p#desk-content.paragraph text
        .controls
            button#remove-desk.button.translatable(data-key="modalRemoveButton") Remove
            button#close-desk.button.translatable(data-key="modalCloseButton") Close