link(rel="icon" href="assets/icon.ico" type="image/png")
link(rel="stylesheet" href="build/index.css")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(charset="UTF-8")
title.translatable(data-key="appName") Note